.search-container{
    position: relative;
    min-height: 100vh;
}
.search-section{
    padding: 100px 15px 20px;
}
.search-section .pick{
    flex: 0 0 40%;
    max-width: 40%;
}
.search-section .pick form{
    width: 80%;
    margin: auto;
    padding: 15px 20px;
    background-color: #EFEFEF;
    border-radius: 5px;
}
.search-section .pick form input{
    width: 100%;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
}
.search-section .pick form input:focus{
    outline: none;
}
.search-section .pick form label{
    margin: 20px 0 5px;
    display: block;
    color: var(--text-color-2);
    font-size: 16px;
    font-weight: 500;
}
.search-section .pick form input[type="submit"]{
    background-color: var(--bg-color-1);
    padding: 15px 0;
    margin-top: 15px;
    cursor: pointer;
}
.search-section .map{
    flex: 0 0 60%;
    max-width: 60%;
    background-color: rebeccapurple;
}